
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#menu-admin").addClass("active");
            ko.applyBindings();
        })
    </script>
}

