@using Newtonsoft.Json

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @if (User.IsInRole("Call_Frequency_Admins_SG")) {
        <form>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">Admissions Daily Dial Cap</label>
                <div class="col-sm-1">
                    <input id="1" type="text" class="form-control" data-bind="value: ParmValue1" maxlength="2" a href="#" data-toggle="popover" title="Admissions Daily Dial Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">Admissions Daily Exceptions Dial Cap</label>
                <div class="col-sm-1">
                    <input id="3" type="text" class="form-control" data-bind="value: ParmValue2" maxlength="2" a href="#" data-toggle="popover" title="Admissions Daily Exceptions Dial Cap" data-content="Need some helpful text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">Other Daily Dial Cap</label>
                <div class="col-sm-1">
                    <input id="2" type="text" class="form-control" data-bind="value: ParmValue3" maxlength="2" a href="#" data-toggle="popover" title="Other Daily Dial Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">Other Daily Exceptions Cap</label>
                <div class="col-sm-1">
                    <input id="4" type="text" class="form-control" data-bind="value: ParmValue4" maxlength="2" a href="#" data-toggle="popover" title="Other Daily Exceptions Cap" data-content="Need some helpful text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 0 Cap</label>
                <div class="col-sm-1">
                    <input id="13" type="text" class="form-control" data-bind="value: ParmValue5" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 0 Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 0 Exception Cap</label>
                <div class="col-sm-1">
                    <input id="14" type="text" class="form-control" data-bind="value: ParmValue6" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 0 Exception Cap" data-content="Need some helpful text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 1 Cap</label>
                <div class="col-sm-1">
                    <input id="15" type="text" class="form-control" data-bind="value: ParmValue7" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 1 Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 1 Exception Cap</label>
                <div class="col-sm-1">
                    <input id="16" type="text" class="form-control" data-bind="value: ParmValue8" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 1 Exception Cap" data-content="Need some helpful text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 2 Cap</label>
                <div class="col-sm-1">
                    <input id="19" type="text" class="form-control" data-bind="value: ParmValue9" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 2 Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">New Lead Day 2 Exception Cap</label>
                <div class="col-sm-1">
                    <input id="20" type="text" class="form-control" data-bind="value: ParmValue10" maxlength="2" a href="#" data-toggle="popover" title="New Lead Day 2 Exception Cap" data-content="Need some helpful text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 text-sm-right col-form-label">Not Engaged Cap</label>
                <div class="col-sm-1">
                    <input id="21" type="text" class="form-control" data-bind="value: ParmValue11" maxlength="2" a href="#" data-toggle="popover" title="Not Engaged Cap" data-content="Need some helpful text">
                </div>
                <label class="col-sm-5 text-sm-right col-form-label">Not Enrolled Cap</label>
                <div class="col-sm-1">
                    <input id="22" type="text" class="form-control" data-bind="value: ParmValue12" maxlength="2" a href="#" data-toggle="popover" title="Not Enrolled Cap" data-content="Need some helpful text">
                </div>
            </div>

            <div class="form-inline row">
                <div class="align-middle">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" data-bind="click: Uma.Admin.doSaveCallCaps">Save</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" data-bind="click: Uma.Admin.doReset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    }
</div>

@section scripts {
    
<script src="~/ViewScripts/Admin/Admin_ViewModel.js"></script>
    <script type="text/javascript">
        
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });

        $(function() {

            Uma.Admin.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            Uma.Admin.init();

            $("#menu-admin").addClass("active");
        });
    </script>
}



