<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UMATeleCom" connectionString="Data Source=MLK-TEL-D-SQ01;Initial Catalog=UMATelecom;Persist Security Info=True;User Id=CallFrqncy-SQL-DEV-W;Password=C@llf1lter" />
    <add name="CallComplianceModelContainer" connectionString="metadata=res://*/Models.CallComplianceModel.csdl|res://*/Models.CallComplianceModel.ssdl|res://*/Models.CallComplianceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MLK-TEL-D-SQ01;initial catalog=UMATelecom;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallComplianceReportingModelContainer" connectionString="metadata=res://*/Models.CallComplianceReportingModel.csdl|res://*/Models.CallComplianceReportingModel.ssdl|res://*/Models.CallComplianceReportingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MLK-REP-D-SQ02;initial catalog=ReportServer;persist security info=True;user id=ssrs_reporting;password=Medical200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>