
@{
    ViewBag.Title = "24 Hour Cool Down";
}

<h2>Cool Down - no requirements or wireframe except talking to Rob</h2>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#menu-cooldown").addClass("active");
            ko.applyBindings();
        })
    </script>
}