@using Newtonsoft.Json
@model CallCompliance.Models.DncViewModel

@{
    ViewBag.Title = "DNC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @if (User.IsInRole("Call_Frequency_Users_SG") || User.IsInRole("Call_Frequency_Admins_SG")) {
        <form>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Enter phone number for Do Not Call List:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputPhoneUnBlock" data-bind="phoneNumber: PhoneNumber" placeholder="(000) 000-0000" maxlength="20" a href="#" data-toggle="popover" data-trigger="hover" title="Phone NUmber" data-content="Enter a phone number to add to the DNC">
                </div>
            </div>
            @*<div class="form-group row">
        <label class="col-sm-5 col-form-label">Select which list the phone number will be added to.</label>
        <div class="col-sm-5">
            <select class="custom-select col-sm-3 form-control" data-bind="options: DncListNames, optionsText: 'DncNames', optionsValue: 'Id', value: DncNameId, optionsCaption: 'Choose...'" a href="#" data-toggle="popover" data-trigger="hover" title="DNC names" data-content="Select the DNC list"></select>
        </div>
    </div>*@

            <div class="form-inline row">

                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" data-bind="click: Uma.Dnc.doSaveDnc">Save</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" data-bind="click: Uma.Dnc.doReset">Reset</button>
                </div>
            </div>

        </form>
    }
</div>

@section scripts {

    <script src="~/ViewScripts/DNC/Dnc_ViewModel.js"></script>

    <script>
        
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });

        $(function() {
            Uma.Dnc.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            Uma.Dnc.init();

            $("#menu-dnc").addClass("active");
        });
    </script>
}
