
@{
    ViewBag.Title = "Global Do Not Call ";
}

<h2>DNC - No wireframe and requirements except talking to Rob</h2>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#menu-dnc").addClass("active");
            ko.applyBindings();
        })
    </script>
}