
@using Newtonsoft.Json
@model CallCompliance.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Welcome to the Call Compliance Portal - @MyHelpers.UserFullName()!</h2>

<br/>
<p><i>Enjoy your stay, and don't break anything.</i></p>

@section scripts {

    <script>
        $(function() {
            alert($("#userName"));
            alert($("#password"));
        })
    </script>
}

@section scripts {

    <script src="~/ViewScripts/Unblock/UnBlock_ViewModel.js"></script>

    <script>
        $(function () {
            Uma.UnBlock.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            Uma.UnBlock.init();

            $("#menu-unblock").addClass("active");
        })
    </script>
}

