
@using Newtonsoft.Json
@model CallCompliance.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="jumbotron">
    <h3>Hello @MyHelpers.UserFullName()</h3>
</div>
    @section scripts {

        <script>
            $(function () {
                Uma.Login.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
                Uma.Login.init();

                $("#menu-home").addClass("active");
            })
        </script>
    }

