
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Call Compliance Portal - @MyHelpers.UserFullName()!</h2>

<br/>
<p><i>Enjoy your stay, and don't break anything.</i></p>

@section scripts {

    <script src="~/ViewScripts/Unblock/UnBlock_ViewModel.js"></script>

    <script>
        $(function () {
            $("#menu-home").addClass("active");
        })
    </script>
}

