
@model CallCompliance.Models.LoginViewModel

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<div class="jumbotron">
    <h3>Welcome to the Call Compliance Portal, @MyHelpers.UserFullName()!</h3>
</div>

@section scripts {

    <script>
        $(function () {
            $("#menu-home").addClass("active");
        })
    </script>
} 