
@using Newtonsoft.Json
@model CallCompliance.Models.LoginViewModel

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="jumbotron">
    <p><i>Welcome to the Call Compliance Portal @User.Identity.Name!</i></p>
</div>

@section scripts {

    <script src="~/ViewScripts/Login/Login_ViewModel.js"></script>

    <script>
        $(function () {
            Uma.Login.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            Uma.Login.init();

            

            $("#menu-home").addClass("active");
        })
    </script>
} 