
@using Newtonsoft.Json
@using ReportViewerForMvc
@model CallCompliance.Models.ReportingModel

@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <form>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Report Type:</label>
            <div class="col-sm-5">
                <select class="custom-select col-sm-3 form-control" data-bind="options: ReportListNames, optionsText: 'ReportNames', optionsValue: 'Id', value: ReportingId, optionsCaption: 'Choose a Report...'"></select>
            </div>
            <div class="col-sm-8">
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
            </div>
        </div>
    </form>
</div>


@section scripts {

    <script src="~/ViewScripts/Reporting/Reporting_ViewModel.js"></script>

    <script>
        $(function () {
            Uma.Reporting.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            Uma.Reporting.init();

            $("#menu-reporting").addClass("active");
            ko.applyBindings();
        })
    </script>
}




